annotated-types==0.7.0
attrs==24.2.0
cattrs==24.1.2
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
kerykeion==4.19.0
platformdirs==4.3.6
pydantic==2.10.3
pydantic_core==2.27.1
pyswisseph==2.10.3.2
pytz==2022.7.1
requests==2.32.3
requests-cache==1.2.1
scour==0.38.2
six==1.17.0
terminaltables==3.1.10
typing_extensions==4.12.2
url-normalize==1.4.3
urllib3==2.2.3
